<div class="jumbotron masthead">
  <div class="container">
    <h1 class="hidden-phone" style="color:#000066">Ben Pollock</h1>
    <h1 class="visible-phone" style="color:#000066; font-size: 60px;">Ben Pollock</h1>
    <p style="color:#000066">A Software Engineering Student Specializing in<br> Web and Financial Applications</p>
    <p>
      
    </p>
  </div>
</div>
<br>
    <div class="row">
          <div class="span5"><p>Welcome to my webpage!  It is currently under construction, so please visit later.</p>

</div>
<div class="span7 hidden-phone">
              <%= image_tag("ipad_stocktrend.png") %>
          </div></div>


          <div class="row">
           <!-- <div class="span2" style="padding-top:1%; text-align:center; border-style: solid; border-width:2px; border-color:#000066"><a href="projects"><h1 style="color:#000066">Recent Projects</h1></a><br></div>
            <div class="span2" style="padding-top:1%; text-align:center;border-style: solid; border-width:2px; border-color:#000066"><h1 style="color:#000066">Resume<br><br></h1><br></div>-->
            <div class="span3 offset2"><a href="https://github.com/BenPollock"><%= image_tag("github_logo.png") %></a><br></div>
            <div class="span3 offset1" style="padding-top:2%"><%= image_tag("LinkedIn-Logo-2C.png") %><br></div>
          </div>