
	 <!--   <h1>Hello, world!</h1>-->
		<div class ="TopBar">
			<div class="row">
				<h1 id="title">BPollock.com</h1>
			</div>
		</div>
		<div class="TopBar">
			<div class="row">
				<h3 id="subtitle">Official homepage of Ben Pollock</h3>
			</div>
		</div>
   <ul class="nav nav-pills">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#" rel="tooltip" data-placement="bottom" title="More Information about Ben">About</a></li>
      <li><a href="#" rel="tooltip" data-placement="bottom" title="Completed and in Progress Software Applications">Projects & Portfolio</a></li>
      <li><a href="#" rel="tooltip" data-placement="bottom" title="Work Experience and Downloadable Resume">Industry Experience & Resume</a></li>
      <li><a href="#" rel="tooltip" data-placement="bottom" title="Official Github Account Page">GitHub</a></li>
      <li><a href="#" rel="tooltip" data-placement="bottom" title="Official LinkedIn Account Page">LinkedIn</a></li>
      <li><a href="#" rel="tooltip" data-placement="bottom" title="Blog Detailing Current Trends in the Software & Technology Industry">Industry Trends</a></li>
      <li><a href="#" rel="tooltip" data-placement="bottom" title="Contact Information">Contact</a></li>
    </ul>


    	<div class="row" id="test">
    	<div class="span12">
    		Website Coming Soon!

<!--
        <table class="table" id="languagetitle"><tr><td>Demonstrated Technologies</td></tr><tr id="noborder"><td id="noborder"></td></tr>
        </table>
        <table class="table" id="language"><tr><td id="languageleft">Java</td><td>Struts, Spring, Swing, Applets</td></tr>
          <tr><td id="languageleft">C# .NET</td><td>Windows Forms, Windows Service, ASP.NET</td></tr>
          <tr><td id="languageleft">C/C++</td><td>QT</td></tr>
          <tr><td id="languageleft">Web Technologies</td><td>HTML, CSS</td></tr>
          <tr><td id="languageleft">Javascript</td><td>jQuery, NodeJS</td></tr>
          <tr><td id="languageleft">PHP</td><td>CakePHP</td></tr>
          <tr><td id="languageleft">Ruby</td><td>Ruby on Rails</td></tr>
          <tr><td id="languageleft">Databases</td><td>Microsoft SQL Server, mySQL, SQLite</td></tr>
          <tr><td id="languageleft">Python</td><td></td></tr>
        </table>-->

    	</div>
    </div>
    <!--<div class="Navi">
    	<div class="container">
    		Home&nbsp;&nbsp;About&nbsp;&nbsp;Projects & Portfolio&nbsp;&nbsp;&nbsp;&nbsp;Industry Experience & Resume&nbsp;&nbsp;Github&nbsp;&nbsp;LinkedIn&nbsp;&nbsp;Industry Trends&nbsp;&nbsp;Contact
    	</div>
    </div>-->

   <!-- <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>-->
    <script>
    	jQuery(function ($){
    		$("a").tooltip()
    	});
    </script>