<div class="jumbotron masthead">
  <div class="container">
    <h1>Ben Pollock</h1>
    <p>Description</p>
    <p>
      
    </p>
  </div>
</div>

<h1 style="color:#000066">The Official Portfolio & Blog of Ben Pollock</h1>
<h3 style="color:#000066">A Software Engineering Student Specializing in Web and Financial Applications</h3>
<br>
    <div class="row">
          <div class="span5"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis nisi in tortor ornare tristique. Nunc convallis viverra massa malesuada facilisis. Pellentesque leo nisi, lobortis eu nunc mollis, elementum varius nisl. Suspendisse dignissim rhoncus eros sed dictum. Nunc quis diam eu nunc faucibus faucibus. Etiam urna justo, vestibulum nec nisi id, pulvinar aliquam velit. Ut vitae eros fermentum, interdum eros nec, bibendum felis. Vestibulum dictum tortor sed libero dictum, sit amet sodales elit lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat.</p>

<p>Vivamus vulputate nisl eget sapien cursus suscipit. Nunc gravida lacinia volutpat. Sed in vulputate lectus. Nullam tristique accumsan varius. Morbi varius a nulla eu consequat. Aliquam feugiat massa nibh, eget auctor velit hendrerit in. Sed pharetra condimentum fringilla. Fusce scelerisque sem ut ante accumsan, non tincidunt est scelerisque. Etiam tincidunt ornare felis, et condimentum eros bibendum nec. Phasellus id neque quis lacus vehicula pharetra quis a leo. Aliquam in adipiscing felis, sit amet euismod dolor. Maecenas at lobortis ligula, eget scelerisque leo. Quisque aliquam augue diam. Aenean erat leo, condimentum sit amet varius sed, consectetur id neque. Mauris ac quam et massa pretium fermentum.</p>

</div>
<div class="span7 hidden-phone">
              <%= image_tag("ipad_stocktrend.png") %>
          </div></div>


          <div class="row">
            <div class="span3" style="padding-top:1%; text-align:center; background-color:#40ACEA;"><a href="projects"><h1 style="color:white">Recent Projects</h1></a><br></div>
            <div class="span3" style="padding-top:1%; text-align:center; background-color:#40ACEA;"><h1 style="color:white">Resume<br><br></h1><br></div>
            <div class="span3"><a href="https://github.com/BenPollock"><%= image_tag("github_logo.png") %></a><br></div>
            <div class="span3" style="padding-top:2%"><%= image_tag("LinkedIn-Logo-2C.png") %><br></div>
          </div>
            <br>
            <b>Currently Under Construction</b><br>
            Please check back later.