<div class="jumbotron masthead">
  <div class="container">
    <h1 class="hidden-phone" style="color:#000066">Ben Pollock</h1>
    <h1 class="visible-phone" style="color:#000066; font-size: 60px;">Ben Pollock</h1>
    <p style="color:#000066">Student @ The University of Western Ontario</p>
    <p>
      
    </p>
  </div>
</div>
<br>
    <div class="row">
          <div class="span5"><p>I am a fourth year software engineering student studying at Western University, Canada, with an expected graduation date of April 2014. My specialization is in clean and maintainable web and mobile software for business logistics and financial applications. Although my favourite technologies at the moment are Ruby on Rails and Javascript, I have industry and/or personal experience in many others, such as Java EE, PHP, C++, .NET (WinForms and ASP.NET), and Android.<br><br>

In addition to some of my personal projects, I have extensive experience in the industry. I pride myself on becoming comfortable with new and emerging technologies quickly, and I'm capable of providing a strong impact in all phases of the software development life-cycle. My business related work experience provides me with the soft skills necessary to communicate and work with any type of client.<br><br>

If you seek more information, feel free to contact me. Alternatively, check out my Github to see my publicly available source code.</p>

</div>
<div class="span7 hidden-phone">
              <%= image_tag("red_sea_rescue_icon_512.png") %><br>
              Coming soon to the iOS App Store and Google Play!
          </div></div>


          <div class="row">
           <!-- <div class="span2" style="padding-top:1%; text-align:center; border-style: solid; border-width:2px; border-color:#000066"><a href="projects"><h1 style="color:#000066">Recent Projects</h1></a><br></div>
            <div class="span2" style="padding-top:1%; text-align:center;border-style: solid; border-width:2px; border-color:#000066"><h1 style="color:#000066">Resume<br><br></h1><br></div>-->
            <div class="span3 offset2"><a href="https://github.com/BenPollock"><%= image_tag("github_logo.png") %></a><br></div>
            <div class="span3 offset1" style="padding-top:2%"><%= image_tag("LinkedIn-Logo-2C.png") %><br></div>
          </div>