<h1>Web & Mobile Application Development</h1>
<h3>Official Homepage for Ben Pollock</h3>
<div class="bs-docs-example">
              <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <%= image_tag("stock_carousel.png", height:'626', width:'1214') %>
                    <div class="carousel-caption">
                      <h4>Market Analyzer & Trend Forcaster</h4>
                      <p>Scans historical market data for trends given the 
                        user-inputted criteria.  Future features include
                       insider trading tracking, graphical views, and improved
                      statistical analysis.</p>
                    </div>
                  </div>
                  <div class="item">
                     <%= image_tag("fire_alert_carousel.png", height:'626', width:'1214') %>
                    <div class="carousel-caption">
                      <h4>Fire-Alert Franchise Management & Inspection System</h4>
                      <p>Designed for the Ottawa based company Fire-Alert, the system provides the ability to manage franchises and employees.  In addition, it also handles inspections, estimates, work orders, and is compatible on all major devices.</p>
                    </div>
                  </div>
                  <div class="item">
                      <%= image_tag("tower_defense.png", height:'626', width:'1214') %>
                    <div class="carousel-caption">
                      <h4>Customizable Tower Defense</h4>
                      <p>Based on QT4, Tower Defense is a game involving placing towers to stop waves of enemies from reaching the end of the map.  The game is entirely customizable, including maps, towers, enemies, waves, and money values.</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
            </div>
            <br>
            <b>Currently Under Construction</b><br>
            Please check back later.