<!-- TODO: Updated gems and rake db:migrate the removal of the projects database -->

<!-- Show all projects -->
<h2>Personal and Team Projects</h2>

<p>The following is a compliation of many projects I have worked on.  This is not a comprehensive list, as some commercial projects I worked on cannot be displayed, but many personal projects are listed.  Source code and/or the application's website is available for select items.</p>
<div class="row">
	<div class="span5">
		<h4>Fire-Alert Franchise Management & Inspection System</h4>
		<p>testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test </p>
		
	</div>

	<div class="span5">
		<h4>Market Analyzer & Trend Forcaster</h4>
		<p>testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test </p>
	</div>

</div>
<div class="row">
	<div class="span5">
		<h4>Alooksie</h4>
		<p>testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test </p></div>
	<div class="span5">
		<h4>Tower Defense</h4>
		<p>testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test testing test </p></div>
</div>