/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 	html,
		body{
			height: 100%;
		}
		.TopBar{
			/*background-color:#B28900;
			color:#0E105D;*/
			background-color:#252525;
			color:#18C1F8;
		}
		/*.container{
			width: auto;
			max-width: 680px;
		}*/
		*{
			margin:0;
			padding:0;
		}
		#title{
			padding-left: 5%;
			text-align:left;

		}
		#subtitle{
			padding-left: 10%;
			text-align:left;
		}
		.nav-pills, .nav{
			padding-left:3%;
			background-color:#3A3A3A;
			margin:0px;
		}
		#test{
			padding-top:2%;
			padding-left:3%;
		}
